.short-list-container {
    width: 100%;
    padding: 0 165px;
    font-family: 'Montserrat', sans-serif;
    @media(max-width: 768px) {
        padding: 0;    
    }
    h2 {
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
        @media(max-width: 768px) {
            padding: 0 0 4px 15px;    
        }
    }
}
.short-card {
    width: 242px;
    height: 147px;
    background-color: #000000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    @media(max-width: 768px) {
       margin: 5px 0;
       min-width: 330.7px;
       min-height: 201px;
    }
}
.short-card-content {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.9) 50%);
    display: flex;   
    flex-direction: column;
    color: #ffffff;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    @media(min-width:769px){
        &:hover {
            opacity: 1;
        }
    }
}
.short-card-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 5px 5px 0 5px;
    a {
        margin:5px 5px 0 5px;
    }
    a:first-child {
        img{
            width: 32px;
            height: 32px;
        }
    }
    .like-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        border: 1.4px solid #ffffff;
        border-radius: 50%;
        img {
            width: 15px;
            height: 14px;
        }
    }
}
.short-card-play {
    width: 100%;
    display: flex;
    justify-content: center;
    .play-wrapper {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1.4px solid #ffffff;
        border-radius: 50%;
        img {
            width: 15px;
            height: 19px;
        }
    }
}
.short-card-info{
    width: 100%;
    padding: 0 0 9.5px 9.5px;
    .info-container{
        display: flex;
        flex-direction: column;
        .short-card-specs {
            div {
                margin-right: 2px;
            }
        }
        .short-card-title {
            font-size: 16px;
            font-weight: bold;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .short-card-specs {
            display: flex;
            font-size: 12px;
            .short-card-age {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 9.5px;
                width: 30px;
                height: 16px;
                background-color: rgba(255, 255, 255, 0.2);
                padding: 0.5px 1.5px;
                
            }
        }
    }
}
.short-card-arrow {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 21px;
    img{
        width: 42.7px;
        height: 21.4px;

    }
}
.short-cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20.3px;
    padding-bottom: 40.7px;
    width: 100%;
    @media(max-width: 768px) {
        justify-content: center;
        padding-top: 4px;
    }
}