.short-list-container {
    width: 100%;
    padding: 0 165px;
    @media(max-width: 768px) {
        padding: 0;    
    }
    h2 {
        font-family: 'Montserrat',sans-serif;
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
        @media(max-width: 768px) {
            padding: 0 0 4px 15px;    
        }
    }
}
.short-card {
    min-width: 242px;
    min-height: 147px;
    background-color: #000000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    @media(max-width: 768px) {
       margin: 5px 0;
       min-width: 330.7px;
       min-height: 201px;
    }
}
.short-cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20.3px;
    padding-bottom: 40.7px;
    width: 100%;
    @media(max-width: 768px) {
        justify-content: center;
        padding-top: 4px;
    }
}