.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: #ffffff;
    padding: 22px 165px; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    @media(max-width: 768px) {
        padding: 12px 0; 
    }     
}
.logo {
    width: 95px;
    height: 27px;
    padding-right: 11px;
    @media(max-width: 768px) {
        padding: 0;   
    }
}
.navbar {
    ul {
        display: flex;
        list-style-type: none;
        a {
            margin: 0 9px;
            &:first-child {
                font-weight: bold;
            }
        }
    }
    @media(max-width: 768px) {
        display: none;    
    }
}
.add-movie {
    margin: 0 9px;
    background-color: #ff0000;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    p {
        font-size: 16px;
        white-space: nowrap;
        margin-left: -4px;
        display: none;
    }
    &:hover {
        width: 183px;
        height: 40px;
        p{
            display: initial;
        }
        
    }
    div {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
            img {
                width: 15.9px;
                height: 15px;
                margin: 12.5px 12px;
            }
    @media(max-width: 768px) {
        display: none;    
    }

}
.user-navbar-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    @media(max-width: 768px) {
        display: none;    
    }
}
.user-navbar {
    display: flex;
    align-items: center;
    .user-menu-container,
    a:not(:last-child) {
        margin: 0 10px;    
    }
}
.bell {
    width: 14px;
    height: 16px;
}
.bell-container {
    position: relative;
    &::before {
        position: absolute;
        content: '';
        background-color: #ff0000;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        right: 0;
        top: 2px;
    }
}
.user {
    width: 25px;
    height: 25px;   
}
.arrow {  
    width: 12px;
    height: 6px;  
}
.nav-item {
    font-size: 14px;
}
.user-menu-container {
    position: relative;
    color: #000000;
    &:hover {
        .user-menu {
            display: flex;
        }
    }
    .user-menu {
        position: absolute;
        right: -21px;
        transition: all 3s ease-in-out;
        width: 130px;
        height: 218px;
        border-radius: 5px;
        background-color: #ffffff;
        flex-direction: column;
        align-items: center;
        display: none;
        font-size: 12px;
        &::before {
            content: '';
            position: absolute;
            width: 17px;
            height: 17px;
            transform: rotate(-315deg);
            border-radius: 5px;
            background-color: #ffffff;
            right: 25.5px;
            top: -8.5px;
            z-index: -1;
        }
        .active-user {
            width: 111px;
            height: 37px;
            border-radius: 18.5px;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: center;
            margin-top: 10px;
        }
        .inactive-user {
            width: 111px;
            height: 37px;
            display: flex;
            align-items: center;
            color: #9b9b9b;
        }
    }
    
}
.circled-avatar {
    margin: 8px;
    height: 25px;
    min-width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    img {
        width: 13.3px;
        height: 15px;
    }
}
.active {
    background-color: #ce00ff;
}
.inactive {
    background-color: #9b9b9b;
}
.user-options {
    width: 111px;
    height: 28px;
    display: flex;
    align-items: center;
    &:not(:last-child){
        border: 2px solid;
        border-color: transparent transparent #cccccc transparent;
    }
    &:last-child {
        font-weight: bold;
    }
}